body {
  padding: 0;
  margin: 0;

}
.container {
  position:sticky;
  margin-top: 100px;
}
nav {
  position: sticky;
  z-index: 10;
  left: 0;
  right: 0;
  top:0 ;
  font-family: 'Monlescrral', sans-serif;
  padding: 0 5%;
  height: 100px;
  background-color: #3e65da;
}
nav .logo { 
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#nav-toggle {
  position: absolute;
 
}
nav .icon-burger {
   display: none;
   position: absolute;
   right: 5%;
   top: 50%;
   transform: translateY(-50%);

}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
}
@media screen and (max-width: 168px) {
  nav .links {
    display: none;
  }
  nav .icon burger {
    display: bluck;
  }
}
  