<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Header</h1>
        </div>
        <div class="body1">
            <div class="cont1">content A</div>
            <div class="cont2">content B</div>
            <div class="cont3">content C</div>
            <div class="cont4">content D</div>
        </div>
        <div class="body2">
            <div class="cont5">content E</div>
            <div class="cont6">content F</div>
            <div class="cont7">content G</div>
        </div>
        <div class="body3">
            <div class="cont8">content H</div>
            <div class="cont9">content K</div>
        </div>
        <div class="footer">
            <p>&copy; Copyright Charles Hazard 2022</p>
        </div>
    </div>
</body>
</html>