* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: rgb(8, 14, 82);
    color: #fff;
    padding: 8px;
}

.menu {
    background-color: rgb(115, 117, 141);
    color: #fff;
    float: left;
    padding: 5px;
    width: 25%;
    font-size: 1em;
}

.rsidebar {
    background-color: rgb(115, 117, 141);
    color: #fff;
    float: left;
    padding: 5px;
    width: 25%;
    font-size: 1em;
}

.main {
    width: 75%;
    padding: 5px;
    font-size: 2.5em;
    background-color: aliceblue;
    float: left;
}

.footer {
    clear: left;
    background-color: black;
    color: #fff;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media screen and (max-width: 600px) {
    body {
        background-color: gray;
    }

    .menu {
        width: 100%;
    }

    .main {
        width: 100%;
    }
    .rsidebar{
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    body {
        background-color: orange;
    }
    *[class*=col-]{
        width: 100%;
    }


}