* {
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
/* .hidden-thing {
  position: absolute;
  left: 100%;
  width: 50px;
  height: 50px;
  opacity: 0;
} */
:root{
  --primary-color: #3e65da;
  --secondary-color: #fff;
  --third-color: #131311;
  --forth-color: antiquewhite;
  --fifth-color: #0251e4;
}
.dark-theme{
  --primary-color: #3e65da;
  --secondary-color: #131313;
  --third-color: #fff;
  --forth-color: #3e65da;
}
body {
  background-color: var(--secondary-color);
  padding: 0;
  margin: 0;

}
.navbar {
  background-color: var(--secondary-color);
  position: sticky;
  z-index: 10;
  left: 0;
  right: 0;
  top:0 ;
  align-items: center;
  justify-content: center;
  font-family: 'Monlescrral', sans-serif;
  padding: 0 5%;
  height: 80px;
}
nav .logo { 
  float: left;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: var(--primary-color);
}
.logo img{
  width: 50px;
  border-radius: 50px;
}
nav .logo:hover { 
  cursor: pointer;
}
nav .links {
  margin-top: 12px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .links li {
  list-style: none;
}
.navlinks{
  margin: 1px;
}
nav .links a {
  display: flex;
  padding: 1.2em;
  font-size: 1.1rem;
  color: var(--primary-color);
  text-decoration: none;
}
nav .links a:hover {
  text-decoration: underline;
}
.navtoggle {
  color: var(--secondary-color);
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
 
}
.checkbtn{
  font-size: 30px;
  color: var(--primary-color);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media screen and (max-width: 620px) {
  .fa-moon{
    padding-bottom: 10px;
  }
  .checkbtn{
    display: block;
  }
  .navbar{
    padding: 0;
  }
  .logo{
    margin-left: 30px;
  }
 ul{
    background: var(--secondary-color);
    position: absolute;
    right: -1000px; 
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    transition: all 0.5s;
 }
   /*  #check:checked ~ ul{
    top: 68px;    //replaced by js!!!!!!!
    right: 0;
    width: 200px;
    } */
    .links.mobile{
      top: 68px;
      right: 0;
      width: 200px;
      }
}
.home{
  width: 100%;
  left: 0;
  right: 0;
  top:0 ;
  margin-right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.desript-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 620px;
}
h2{
  color: var(--third-color);
  margin-top: 250px;
  margin-left: 50px;
  font-size: 3rem;
}
p{
  color: var(--third-color);
  margin-left: 50px;
  font-size: 1.2rem;
}
span{
  color: var(--primary-color);
}
.desc-btn{
  margin-left: 50px;
  padding: 6px;
  color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.desc-btn:hover{
  background-color: var(--fifth-color);
  cursor: pointer;
}
.descript-btn{
  padding: 50px;
  margin: 40px !important;
}
.decript-btn a{
  text-decoration: none;
}
.fa-download{
  margin-left: 8px;
}
#me{
  margin-top: 100px;
  width: 600px;
  transform: translateX(100px) translateY(0px);
}
#back{
  position: absolute;
  transform: translateX(20px) translateY(-20px);
  width: 700px;
  z-index: -1;
}
.fa-moon{
  color: var(--third-color);
  cursor: pointer;
  font-size: 1.2rem;
}
.social-links{
  display: flex;
}
.social-links a{
  text-decoration: none;
}
#social-icons:hover{
  color: var(--fifth-color);
}

@media screen and (max-width: 960px) {
  .curve, .curve2, .curve3{
    display: none;
  }
  .skill-descript{
    transform: translateY(270px);
  }
  .home{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: center;
  }
  .desript-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .descript-view{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #social-icons{
    transform: translateX(-620%) translateY(-150%);
    max-width: 670px;
  }
  h2{
    margin-top: -30px;
  }
  #back{
    margin-left: -20%;
    align-items: center;
    justify-content: center;
  }
  #me{
    margin-left: -20%;
  }
}
.myskills{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skill-view{
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.curve{
  position: absolute;
  width: 200px;
  background-color: #3e65da;
  height: 300px;
  transform: translateX(50%) translateY(150%);
  z-index: -1;
  clip-path: polygon(80% 0%, 100% 50%, 0% 100%);
}
.curve2{
  position: absolute;
  width: 200px;
  background-color: #3e65da;
  height: 300px;
  transform: translateX(50%) translateY(0%);
  z-index: -1;
  clip-path: polygon(80% 0%, 100% 50%, 0% 100%);
}
.curve3{
  position: absolute;
  width: 200px;
  background-color: #3e65da;
  height: 300px;
  transform: translateX(-80%) translateY(20%);
  z-index: -1;
  clip-path: circle();
}
.social-links{
  display: flex;
  transform: translateX(62%) translateY(80px);
}
#social-icons{
  margin: 20px;
  color: #3e65da;
  font-size: 3rem;
  cursor: pointer;
}
.skills-container{
  margin: 10px;
  height: 570px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: var(--forth-color);
  transition: 0.3s ease-in;
}
.skill-area{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.image img{
  width: 350px;
  margin-bottom: -200px;
}
#mobdev{
  height: 200px;
}
#frontend{
  height: 200px;
}
.skill-descript{
  margin-top: -35px;
}
@media screen and (max-width: 1260px) {
  .skill-view{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 840px) {
  .skill-view{
    grid-template-columns: 1fr  ;
  }
}
@media screen and (max-width: 420px) {
  .skills-container{
    width: 280px;
    height: 400px;
  }
  .image img{
    width: 250px;
    height: 150px;
    margin-bottom: -140px;
  }
  #mobdev{
    height: 150px;
  }
  #frontend{
    height: 150px;
  }
  .skill-descript h2{
    font-size: 1.3rem;
  }
  .skill-descript p{
    font-size: 0.9rem;
  }
  .skill-descript{
    margin-top: -80px;
  }
}

.works{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-descript h3 a{font-size: 1.3rem;

  color: var(--third-color);
}
/* .works-view{
  display: flex;
} */
.work-container{
  display: flex;
  margin: 50px;
}
.work-container:nth-child(2){
  display: flex;
  /* flex-direction: row-reverse; */
}
h3{
  transform: translateX(20%);
}
@media screen and (max-width: 620px) {
  .social-links{
    margin-left: 60px;
    display: flex;
    position: static;
    align-items: center;
  }
  #social-icons{
    display: flex;
    transform: translateX(5545px) translateY(-);
    font-size: 2rem;
    margin: 20px;
  }
  .fa-linkedin{
    margin: 0 !important;
  }
  #me{
    width: 400px;
  }
}
.work-preview img{
  width: 400px;
}
.work-descript a{
  text-decoration: none;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 400px;
}
.contacts-view{
  display: flex;
  flex-direction: column;
}
.contacts-view img{
  width: 40px;
}
#phone{
  font-size: 2rem;
  margin: 10px;
  color: green;
}
#git{
  font-size: 2.2rem;
  color: var(--third-color);
}
.Contacts a{
  text-decoration: none;
}
.Contacts a:hover{
  text-decoration: underline;
}
.website-right{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:120px;
}
.work-descript{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-btn{
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 7px;
  border: none;

}

.button{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 12px 18px;
  border-radius: 7px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: 0.3s;
}
h1{
  color: var(--third-color);
}
.work-btn a{
  color: var(--secondary-color);
}
.button:hover{
  background-color: var(--fifth-color);
}
@media screen and (max-width: 930px) {
  .work-container, .work-container:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }
  .work-preview{
    margin-top: 40px;
  }
}
@media screen and (max-width: 410px) {
  .work-preview img{
    width: 280px;
  }
  .button{
    padding: 8px 5px;
  }
  .Contacts p{
    margin-left: 12px;
  }
  .needme h4, .needme p{
    margin-left: 12px;
  }
}
@media screen and (max-width: 420px) {
  .website-right{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#icon{
  width: 20px;
  cursor: pointer;
}